In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("http://bit.ly/imdbratings")

In [4]:
movies['star_rating'].astype('int')

0      9
1      9
2      9
3      9
4      8
      ..
974    7
975    7
976    7
977    7
978    7
Name: star_rating, Length: 979, dtype: int64

In [8]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [7]:
movies.shape

(979, 6)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [14]:
movies.loc[movies['content_rating'].isna()]

,star_rating,title,content_rating,genre,duration,actors_list
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"

In [21]:
movies.loc[movies['star_rating'] >= 8, 'genre'].value_counts()

Drama        124
Crime         51
Comedy        50
Action        47
Adventure     37
Animation     27
Biography     26
Horror        10
Mystery        9
Western        7
Film-Noir      2
Sci-Fi         2
History        1
Thriller       1
Name: genre, dtype: int64