In [1]:
import pandas as pd
pd.__version__

'2.0.3'

In [2]:
# create an example DataFrame
df = pd.DataFrame([[12, 25, 2017, 10], [1, 15, 2018, 11]],
                  columns=['month', 'day', 'year', 'hour'])
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [3]:
pd.to_datetime(df)

0   2017-12-25 10:00:00
1   2018-01-15 11:00:00
dtype: datetime64[ns]

In [4]:
pd.to_datetime(df[['month', 'day', 'year']])

0   2017-12-25
1   2018-01-15
dtype: datetime64[ns]

In [5]:
df.index = pd.to_datetime(df[['month', 'day', 'year']])
df

            month  day  year  hour
2017-12-25     12   25  2017    10
2018-01-15      1   15  2018    11

In [6]:
df.loc[df.year > 2015]

            month  day  year  hour
2017-12-25     12   25  2017    10
2018-01-15      1   15  2018    11

In [7]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [8]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [9]:
drinks['continent'] = drinks.continent.astype('category')
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [10]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry", dtype={'continent': 'category'})

In [11]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [12]:
drinks.memory_usage()

Index                            132
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        413
dtype: int64

In [13]:
drinks['beer_servings'] = drinks.beer_servings.astype('float')

In [14]:
drinks['spirit_servings'] = drinks.spirit_servings.astype('float')

In [15]:
drinks.dtypes

country                           object
beer_servings                    float64
spirit_servings                  float64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [16]:
drinks.memory_usage(deep=True).sum()

19652

In [17]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")
drinks = drinks.astype({"beer_servings": 'float', "spirit_servings": 'float', 'continent': 'category'})
drinks.dtypes

country                           object
beer_servings                    float64
spirit_servings                  float64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [22]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [25]:
drinks.groupby('continent').beer_servings.agg(['mean', 'min', 'max']).sort_values('mean', ascending=False)

                     mean   min    max
continent
Europe         193.777778   0.0  361.0
South America  175.083333  93.0  333.0
North America  145.434783   1.0  285.0
Oceania         89.687500   0.0  306.0
Africa          61.471698   0.0  376.0
Asia            37.045455   0.0  247.0

In [26]:
drinks['beer_servings'].agg(['mean', 'min', 'max'])

mean    106.160622
min       0.000000
max     376.000000
Name: beer_servings, dtype: float64

In [29]:
# Cannot make an aggregation on a dataframe
drinks.agg(['mean', 'min', 'max'])

TypeError: Could not convert AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua & BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia-HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurundiCote d'IvoireCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongoCook IslandsCosta RicaCroatiaCubaCyprusCzech RepublicNorth KoreaDR CongoDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKiribatiKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMarshall IslandsMauritaniaMauritiusMexicoMicronesiaMonacoMongoliaMontenegroMoroccoMozambiqueMyanmarNamibiaNauruNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNiueNorwayOmanPakistanPalauPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarSouth KoreaMoldovaRomaniaRussian FederationRwandaSt. Kitts & NevisSt. LuciaSt. Vincent & the GrenadinesSamoaSan MarinoSao Tome & PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSolomon IslandsSomaliaSouth AfricaSpainSri LankaSudanSurinameSwazilandSwedenSwitzerlandSyriaTajikistanThailandMacedoniaTimor-LesteTogoTongaTrinidad & TobagoTunisiaTurkeyTurkmenistanTuvaluUgandaUkraineUnited Arab EmiratesUnited KingdomTanzaniaUSAUruguayUzbekistanVanuatuVenezuelaVietnamYemenZambiaZimbabwe to numeric

In [34]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [41]:
drinks.beer_servings.quantile(.75) - drinks.beer_servings.quantile(.25)

168.0

In [47]:
Q1 = drinks['beer_servings'].quantile(.25)
Q3 = drinks['beer_servings'].quantile(.75)
IQR = Q3 - Q1
upper_range = Q3 + 1.5*IQR
lower_range = Q1 -1.5*IQR
print(upper_range)
print(lower_range)
outliers = drinks.loc[((drinks['beer_servings'] > upper_range) | (drinks['beer_servings'] < lower_range))]
outliers

440.0
-232.0

Empty DataFrame
Columns: [country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, continent]
Index: []

In [62]:
drinks.dtypes
cols = [list(drinks.columns)[1], list(drinks.columns)[2], list(drinks.columns)[3], list(drinks.columns)[4]]
for col in cols:
    Q1 = drinks[col].quantile(.25)
    Q3 = drinks[col].quantile(.75)
    IQR = Q3 - Q1
    upper_range = Q3 + 1.5*IQR
    lower_range = Q1 -1.5*IQR
    print(upper_range)
    print(lower_range)
    print('#'*50)
    outliers = drinks.loc[((drinks[col] > upper_range) | (drinks[col] < lower_range))]

440.0
-232.0
##################################################
314.0
-182.0
##################################################
146.0
-86.0
##################################################
16.05
-7.550000000000002
##################################################

In [63]:
outliers

Empty DataFrame
Columns: [country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, continent]
Index: []