# How do I create a pandas DataFrame from another object?

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({"id": [100, 101, 102],
              "Color": ['Red', 'Blue', 'Red']}, columns=['Color', 'id'], index=['a', 'b', 'c'])

In [12]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [13]:
import numpy as np

In [15]:
arr = np.random.rand(4, 2)
arr

array([[0.39666513, 0.275604  ],
       [0.93808408, 0.87755182],
       [0.19573817, 0.87844831],
       [0.14213052, 0.6445343 ]])

In [17]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.396665  0.275604
1  0.938084  0.877552
2  0.195738  0.878448
3  0.142131  0.644534

In [20]:
new_df = pd.DataFrame({'student': np.arange(100, 110, 1), 'test': np.random.randint(60, 101, 10)}).set_index('student')
""" 
np.arange(start, end(execlusive), step) 
np.random.randint(start, end(execlusive), number of numbers)
 """

' \nThe .arange(start, end(execlusive), step) \nnp.random.randint(start, end(execlusive), number of numbers)\n '

In [21]:
new_df

         test
student
100        71
101        64
102        93
103        71
104        88
105        65
106        73
107        92
108        81
109        71

In [24]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')

In [27]:
pd.concat([df, s], axis=1)

  Color   id   shape
a   Red  100     NaN
b  Blue  101  square
c   Red  102   round