# How do I use pandas with scikit-learn to create Kaggle submissions?

In [1]:
import pandas as pd

In [2]:
# Loading a titanic dataset
train = pd.read_csv('http://bit.ly/kaggletrain')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
feature_cols = ['Pclass', 'Parch']

In [5]:
X = train.loc[:, feature_cols]

In [6]:
X.shape

(891, 2)

In [7]:
y = train.Survived

In [8]:
y.shape

(891,)

In [10]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X, y)

LogisticRegression()

In [11]:
test = pd.read_csv("http://bit.ly/kaggletest")

In [12]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
X_new = test.loc[:, feature_cols]

In [14]:
X_new.shape

(418, 2)

In [15]:
new_pred_class = logreg.predict(X_new)

In [17]:
test['PassengerId']

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [18]:
new_pred_class

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [21]:
pd.DataFrame({"PassengerID": test['PassengerId'], 'Survived': new_pred_class}).set_index('PassengerID').to_csv('sub.csv')

In [26]:
train.to_pickle('train.pkl')

In [58]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [59]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [45]:
ufo[['City', 'Time']] = ufo[['Time', 'City']]

In [50]:
ufo[['Time', 'City']] = ufo[['City', 'Time']]

In [60]:
ufo['Date'] = ufo['Time'].apply(lambda x : x.split()[0])

In [61]:
ufo['Time'] = ufo['Time'].apply(lambda x : x.split()[1])

In [62]:
ufo.head()

                   City Colors Reported Shape Reported State   Time       Date
0                Ithaca             NaN       TRIANGLE    NY  22:00   6/1/1930
1           Willingboro             NaN          OTHER    NJ  20:00  6/30/1930
2               Holyoke             NaN           OVAL    CO  14:00  2/15/1931
3               Abilene             NaN           DISK    KS  13:00   6/1/1931
4  New York Worlds Fair             NaN          LIGHT    NY  19:00  4/18/1933

In [63]:
ufo = ufo[['City', 'Shape Reported', 'Time', 'Date', 'State']]

In [68]:
ufo['Date'] = pd.to_datetime(ufo['Date'])

In [71]:
ufo['Time'] = pd.to_datetime(ufo['Time'])

C:\Users\Options\AppData\Local\Temp\ipykernel_11512\2558845525.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ufo['Time'] = pd.to_datetime(ufo['Time'])

In [75]:
ufo['Time'] = ufo['Time'].dt.strftime("%H:%M")

In [82]:
ufo['Date'] = ufo['Date'].dt.strftime('%Y/%d/%b')

AttributeError: Can only use .dt accessor with datetimelike values

In [81]:
ufo.head()

                   City Shape Reported   Time         Date State
0                Ithaca       TRIANGLE  22:00  1930/Jun/01    NY
1           Willingboro          OTHER  20:00  1930/Jun/30    NJ
2               Holyoke           OVAL  14:00  1931/Feb/15    CO
3               Abilene           DISK  13:00  1931/Jun/01    KS
4  New York Worlds Fair          LIGHT  19:00  1933/Apr/18    NY